@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row header">
            <div class="col-md-6">
                <h1>About Me</h1>
                <p>Hi! I am currently a student studying full-stack development. I am enthusiastic about computers, programming, and technology in general. I have been involved in IT and Tech Support since 2014 but am now looking to branch out to programming. Programming profesionally interests me a great deal more than IT does. Take a look at my current and finished projects below!</p>
            </div>
            <div class="col-md-6">
                <img src="~/images/jesse-headshot.jpeg" alt="headshot photo of Jesse">
            </div>
    </div>
</div>