<body class="home-body">
    <div class="container home-container">
        <table>
            <tr>
                <td>
                    <h1>Jesse Bryan</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Jr. Web Developer</h3>
                </td>
            </tr>
        </table>

        <img id="home-image" src="~/images/jesse-philippines.jpg" />
    </div>
</body>